---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="MyBlog">
  <h1>Welcome to my Blog</h1>
  <SearchBar></SearchBar>
</Layout>
